{
	"extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
	"rules": {
		"linebreak-style": 0,
    "jsx-a11y/no-static-element-interactions": 0,
     "react/prefer-stateless-function": "off"
	},
  "plugins": [
    "only-warn"
  ]
}