.player-label {
  padding-right: 54px;
}
.current-player-label {
  padding-right: 10px;
}
.landing-content {
  padding-top: 15px;
}
.login-label {
  width: 85px;
}
.interactive-tile,
.game-board-tile {
  height: 20px;
  width: 20px;
  padding: 3px 4px;
}
.game-board-tile {
  border: 1px solid grey;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}
.interactive-tile {
  border: 1px solid blue;
  margin-bottom: 10px;
  cursor: pointer;
}
.interactive-tile:hover {
  border-color: magenta;
}
.interactive-tile .disabled {
  border: 1px solid white;
}
#game-board {
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  width: 162px;
}
.game-row,
#interactive-row {
  display: flex;
}
#interactive-row {
  flex-direction: row;
}
.game-row {
  display: flex;
  flex-direction: row;
}
.player-1 {
  color: black;
}
.player-2 {
  color: red;
}
.game-over .interactive-tile {
  border: 1px solid white;
  cursor: default;
}
.game-over .interactive-tile:hover {
  border: 1px solid white;
}
#control-panel {
  padding: 10px 0 10px 0;
}
button[type="button"] {
  margin: 5px 0;
}
