.game-board-container .player-label {
  padding-right: 54px;
}
.game-board-container .current-player-label {
  padding-right: 10px;
}
.game-board-container .player-1 {
  color: black;
}
.game-board-container .player-2 {
  color: red;
}
.game-board-container .interactive-tile,
.game-board-container .game-board-tile {
  height: 20px;
  width: 20px;
  padding: 3px 4px;
}
.game-board-container .game-board-tile {
  border: 1px solid grey;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}
.game-board-container .game-row,
.game-board-container .interactive-row {
  display: flex;
}
.game-board-container .interactive-row {
  flex-direction: row;
}
.game-board-container .game-row {
  display: flex;
  flex-direction: row;
}
.game-board-container .interactive-tile {
  border: 1px solid blue;
  margin-bottom: 10px;
  cursor: pointer;
}
.game-board-container .interactive-tile:hover {
  border-color: magenta;
}
.game-board-container .interactive-tile .disabled {
  border: 1px solid white;
}
.game-board-container .game-over .interactive-tile {
  border: 1px solid white;
  cursor: default;
}
.game-board-container .game-over .interactive-tile:hover {
  border: 1px solid white;
}
.game-board-container .game-board-grid {
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  width: 162px;
}
.game-board-container .control-panel .start-warning {
  padding-top: 8px;
}
.landing-page .login-form-element {
  width: 200px;
}
.landing-page .login-label {
  width: 85px;
}
.landing-page .control-panel {
  padding: 10px 0 10px 0;
}
.game-list-page .list-group-item {
  min-height: 62px;
}
.game-list-page #accept-btn {
  right: 0;
  position: absolute;
}
button[type="button"] {
  margin: 5px 0;
}
